gitignore
# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Flutter/Dart packages
.packages
.pub-cache/
.dart_tool/

# Flutter/Dart build outputs
build/
.flutter-plugins
.flutter-plugins-dependencies
flutter_tools.stamp
flutter_build.d

# IDE specific files
.idea/
*.iml
.vscode/

# iOS specific files
ios/Pods/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
ios/.symlinks/
ios/Flutter/ephemeral/

# Android specific files
android/.gradle/
android/captures/
# Suppress gradle output files in the top level anroid/ directory
android/*.apk
android/app/build/
android/app/.*
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
# Generated local.properties file in the android/ directory. This file should not be checked in.
# It often contains sensitive information like the SDK path.
android/local.properties

# Windows specific files
# Be careful with these if you are doing Desktop!
# You will likely need to tweak this list.
windows/flutter/ephemeral/
windows/flutter/generated_config.cmake
windows/flutter/generated_plugins.cmake
windows/runner/Debug/
windows/runner/Profile/
windows/runner/Release/
windows/runner/flutter_assets/
windows/runner/win32_window.cpp
windows/runner/utils.cpp
windows/runner/resources/app_icon.ico
# Generated cpp files
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.h

# Linux specific files
# Be careful with these if you are doing Desktop!
# You will likely need to tweak this list.
linux/flutter/ephemeral/
linux/flutter/generated_config.cmake
linux/flutter/generated_plugins.cmake
# Generated C files
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugins.h
# CMake intermediate files
linux/flutter/CMakeFiles/
linux/flutter/CMakeCache.txt
linux/flutter/DartConfiguration.tcl
linux/flutter/Makefile
linux/flutter/cmake_install.cmake
linux/flutter/flutter_assemble.vcxproj.filters
# Not strictly necessary, but reduces noise.
linux/flutter/flutter_build.ninja
# Built plugin libraries
linux/flutter/lib*.*
# Bundle files
linux/bundle/data/
linux/bundle/lib/
linux/bundle/meta/

# macOS specific files
# Be careful with these if you are doing Desktop!
# You will likely need to tweak this list.
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/Flutter-Suffix.xcconfig
macos/Flutter/Generated.xcconfig
# Pods - We generally don't want to check in Pods to Git.
macos/Pods/
# Generated Xcodeproj
macos/Runner.xcodeproj/project.xcworkspace/
macos/Runner.xcodeproj/xcuserdata/